/* Yah! Partials */
@import "partials/_variables.css";

/* Arrays */
$array: (foo, bar, baz);

/* Conditionals */

@if 1 < 3 {
  .conditional {
    height: 20px;
    
  }
}

/* Loops */
@each $i in $array {
  .$i {
    content: '$i';
    @if $i == bar {
      background: rgba($blue, 0.5);
    }
  }
}

@for $i from 1 to 4 by 2 {
  .col-$(i) {
    @if $i != 3 {
      display: block;
    } @else {
      display:none;
    }
  }
}


/* Mixins */

@define-mixin grid $size:xs, $min-width:320, $columns:12 {
  @media only screen and (min-width: $(min-width)px) {
    .col-$(size)-* {
      float:left;
    }
    @for $i from 1 to $columns {
      .col-$(size)-$(i) {
        width: calc(($i/$columns)*100)%;
      }
    }
  }
}


@mixin grid xs,240,10;
